<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Lupus on LAN</title>
  </head>
  <body>
    <hr class="mt-0 mb-4">
    <div class="container-fluid">
      <h1 class="text-center">Lupus in Tabula</h1>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
