{% extends 'base.html' %}
{% block content %}

<script>
  function phaseDone(id) {
    var curr_class = String(document.getElementById(id).className);
    if (!curr_class.includes("text-muted")) {
      document.getElementById(id).className = curr_class + " text-muted text-decoration-line-through";
    } else {
      document.getElementById(id).className = curr_class.replace(' text-muted text-decoration-line-through','');
    }
  }

  function addStatus(name, color, id) {
    var badgeId = name + id;
    if (!document.getElementById(badgeId)) {
      var badge = document.createElement("span");
      badge.id = badgeId;
      badge.className = "col badge rounded-pill m-1 p-2 text-center";
      badge.style.background = color;
      badge.textContent = name;
      badge.onclick = function () {this.parentElement.removeChild(this);};
      document.getElementById(id).appendChild(badge);
    }
  }

  function resetStatus(ids) {
    for (const id of ids) {
      statusId = 'status-' + id;
      document.getElementById(statusId).innerHTML = "";
    }
  }

  function killPlayer(id) {
    var rowId = 'row-'+id
    var dropdownContainerId = 'dropdownContainer-'+id
    var menuButtonId = 'menuButton-'+id
    var menuId = 'menu-'+id
    var dropupContainerId = 'dropupContainer-'+id
    var deadContainer = document.getElementById('dead-container')
    // Move row
    deadContainer.insertBefore(document.getElementById(rowId), deadContainer.firstChild);
    // Hide dropdown container
    document.getElementById(dropdownContainerId).setAttribute("hidden", "")
    // Show dropdup container
    document.getElementById(dropupContainerId).removeAttribute("hidden")
  }

  function resurrectPlayer(id) {
    var rowId = 'row-'+id
    var dropdownContainerId = 'dropdownContainer-'+id
    var menuButtonId = 'menuButton-'+id
    var menuId = 'menu-'+id
    var dropupContainerId = 'dropupContainer-'+id
    var aliveContainer = document.getElementById('alive-container')
    // Move row
    aliveContainer.appendChild(document.getElementById(rowId));
    // Hide dropup container
    document.getElementById(dropupContainerId).setAttribute("hidden", "")
    // Show dropdown container
    document.getElementById(dropdownContainerId).removeAttribute("hidden")
  }

</script>


<!-- RULES -->
<div id="accordion1">
  <div class="card mb-2">
    <div class="card-header">
      <a class="btn" data-bs-toggle="collapse" href="#collapseItem1">
        <h4 class="fw-bold text-primary m-0 p-0">Rules</h4>
      </a>
    </div>
    <div id="collapseItem1" class="collapse" data-bs-parent="#accordion1">
      <div class="card-body">
        {% for rule in rules %}
        <div class="row">
          <b>{{ rule[0] }}:</b> {{ rule[1] }}
        </div>
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<!-- PHASES ORDER -->
<div id="accordion2">
  <div class="card mb-2">
    <div class="card-header">
      <a class="btn" data-bs-toggle="collapse" href="#collapseItem2">
        <h4 class="fw-bold text-primary m-0 p-0">Night Phases</h4>
      </a>
    </div>
    <div id="collapseItem2" class="collapse" data-bs-parent="#accordion2">
      <div class="card-body">
        {% for phase in nightPhases %}
        <div class="row mx-5 my-1 px-3 rounded-3" id="{{ phase }}" onclick="phaseDone('{{ phase }}')">
          <p class="text-center m-0 p-0 fw-bold">{{ roles[phase]['name'] }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<!-- PLAYERS ALIVE-->
<div id="accordion3">
  <div class="card  mb-2">
    <div class="card-header">
      <a class="btn" data-bs-toggle="collapse" href="#collapseItem3">
        <h4 class="fw-bold text-primary m-0 p-0">Players Alive</h4>
      </a>
    </div>
    <div id="collapseItem3" class="collapse" data-bs-parent="#accordion3">
      <div class="card-body m-0 p-2 rounded-3" id="alive-container">
        <!-- ALIVE PLAYER ROWS -->
        {% for player in players %}
        <div class="row m-0 p-0" id="row-{{ player['name'] }}">
          <!-- User Container -->
          <div class="col-4 m-0 p-0 fs-6" id="alive-{{ player['name'] }}">
            <div class="row m-0 px-0">
              <p class="m-0 p-0 text-truncate fw-bold">{{ player['name'] }}</p>
            </div>
            <div class="row m-0 px-0">
              <p class="m-0 p-0 text-truncate siz">{{ roles[player['role']]['name'] }}</p>
            </div>
            <div class="row m-0 px-0">
              <p class="m-0 p-0 text-truncate">{{ roles[player['role']]['race'] }}</p>
            </div>
          </div>
                  
          <!-- Status Container -->
          <div class="col m-0 p-0">
            <div class="row d-flex flex-wrap m-0 p-0" id="status-{{ player['name'] }}"></div>
          </div>

          <!-- DropDown Container -->
          <div class="col-1 dropdown text-end m-0 p-0" id="dropdownContainer-{{ player['name'] }}">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" id="menuButton-{{ player['name'] }}"></button>
            <ul class="dropdown-menu" id="menu-{{ player['name'] }}">
              <li><p class="dropdown-item" onclick="killPlayer('{{ player['name'] }}')">DEAD</p></li>
              {% for (name, color) in statusData %}
              <li><p class="dropdown-item" onclick="addStatus('{{ name }}', '{{ color }}', 'status-{{ player['name'] }}')">{{ name }}</p></li>
              {% endfor %}
            </ul>
          </div>
          
          <!-- DropUp Container HIDDEN -->
          <div class="col-1 dropup text-end m-0 p-0" id="dropupContainer-{{ player['name'] }}" hidden>
            <div class="btn btn-danger dropdown-toggle" onclick="resurrectPlayer('{{ player['name'] }}')"></div>
          </div>
          
          <hr class="m-1 p-0">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<!-- PLAYERS DEAD -->
<div id="accordion4">
  <div class="card mb-2">
    <div class="card-header">
      <a class="btn" data-bs-toggle="collapse" href="#collapseItem4">
        <h4 class="fw-bold text-primary m-0 p-0">Dead Players</h4>
      </a>
    </div>
    <div id="collapseItem4" class="collapse" data-bs-parent="#accordion4">
      <div class="card-body m-0 p-2" id="dead-container">
          <!-- move here dead-player rows -->
      </div>
    </div>
  </div>
</div>


<div class="row text-center m-4">
  <form class="col-5 text-center m-2 p-0" method="POST" action="/lobby">
    <input class="btn btn-dark m-0 p-2 rounded-3" type="submit"  value="Finish" name="finish">
  </form>

  <div class="col-5 text-center m-2 p-0">
    <div class="btn btn-primary m-0 p-2 rounded-3" onclick="resetStatus({{ playersNames }})">Reset</div>
  </div>
</div>



{% endblock content %}
