{% extends 'base.html' %}
{% block content %}

<div class="row p-2">
  <div class="col">
    <div class="row"><p><b>Name: </b>{{ name }}</p></div>
    <div class="row"><p><b>Role: </b>{{ role['name'] }}</p></div>
    <div class="row"><p><b>Race: </b>{{ role['race'] }}</p></div>
    <div class="row"><p><b>Team: </b>{{ role['team'] }}</p></div>
  </div>
  <div class="col">
    <img src={{ role['image'] }} alt="Role Picture" style="width:100%;">
  </div>

  <p>{{ role['description'] }}</p>

  {% if playersSimilar %}
    <div class="d-flex flex-wrap">
      <h4 class="fw-bold m-2">Ally:</h4>
      {% for name in playersSimilar %}
      <div class="bg-light text-black rounded-3 m-2 px-4">{{ name }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <form class="text-center" method="POST" action="/lobby">
    <input type="submit" class="btn btn-primary" value="RELOAD">
  </form>
</div>


{% endblock content %}
