{% extends 'base.html' %}
{% block content %}

<div class="row p-2">
  <div class="col">
    <div class="row"><p><b>Name: </b>{{ name }}</p></div>
    <div class="row"><p><b>Role: </b>{{ role }}</p></div>
    <div class="row"><p><b>Race: </b>{{ race }}</p></div>
    <div class="row"><p><b>Team: </b>{{ team }}</p></div>
  </div>
  <div class="col">
    <img src={{ imagePath }} alt="Role Picture" style="width:75%;">
  </div>

  <p>{{ description }}</p>

  {% if playersSimilar %}
    <h4 class="fw-bold">Ally:</h4>
    <div class="d-flex flex-wrap">
      {% for name in playersSimilar %}
      <div class="bg-light text-black rounded-3 m-2 px-4">{{ name }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <form class="text-center" method="POST" action="/lobby">
    <input type="submit" class="btn btn-primary" value="RELOAD">
  </form>
</div>


{% endblock content %}
