{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center mt-3">
  <div class="col-12" style="text-align: center">
    <p><b>User:</b> {{ userName }} </p>
    <p><b>Faction:</b> {{ faction }} </p>
    <p><b>Role:</b> {{ role }} </p>
    <p><b>Description:</b> {{ description }} </p>

    {% if playersSimilar %}
      <p><b>Ally:</b>: {% for e in playersSimilar %}{{ e }}, {% endfor %}</h4>
    {% endif %}

    <img src={{ imagePath }}>

    <form style="text-align: center;" method="POST" action="/lobby">
      <input type="hidden" name="userId" value="{{ userId }}">
      <input type="submit" class="btn btn-primary" value="AGGIORNA">
    </form>
  </div>
</div>

{% endblock content %}
